body{
    box-sizing: border-box;
    font-family: 'lora', serif;
    background-color: rgb(250, 248, 241) ;
}
/* navigation */
header{
    line-height: 40px;
    background-color: rgb(250, 248, 241);
    font-family: 'Lora', serif;
}

.nav{
    align-items: center;
}

img{
    height: 200px;
    width: 200px;
    padding-left: 20px;
}

ul{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  
}

li a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    padding: 30px;
}

.button{
    border-radius: 8px;
    background-color: #865439;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover{
    background-color: #8a6c5b;
}

/* menu css */


h1, h2{ 
    text-align: center;
    font-family: 'lora', serif;
    color: brown;
    padding: 20px;
}

h1:hover{
    color: rgba(165, 42, 42, 0.589);
}

h2:hover{
    color: rgba(165, 42, 42, 0.589);
}

u{
    color: brown;
}

u:hover{
    color: rgba(165, 42, 42, 0.589);
}

.container-1{
    padding: 20px;
    font-family: 'lora', serif;
    font-size: 1.1rem;
    text-align: center;
}

/* footer */

.footer{
    background-color: black;
    color: white;
    align-items: center;
    margin: auto;
    padding: 30px;
}

hr{
    background-color: white;
}

.contant{
    text-align: center;
}

